/* BEGIN Items reverse engineered from consumer theme in UX */
.uxPanelHeading {
  color: rgb(109, 187, 85) !important;
  background-color: rgb(225, 239, 224) !important;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: bold;
  letter-spacing: 1px;
  /*line-height: 20px;*/
}

.uxLabel {
  color: rgb(0, 136, 204);
  cursor: pointer;
  display: inline;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  /*line-height: 20px;*/
  text-align: left;
  padding-top: 5px;
  /*padding-bottom: 7px;*/
}

.uxControl {
  border-bottom-color: rgb(132, 132, 132);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: rgb(132, 132, 132);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgb(132, 132, 132);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgb(132, 132, 132);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top-style: solid;
  border-top-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
  box-sizing: border-box;
  color: rgb(85, 85, 85);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  height: 25px;
  line-height: 20px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 5px;
  margin-top: 0px;
  min-height: 15px;
  padding-bottom: 0px;
  padding-left: 2px;
  padding-right: 0px;
  padding-top: 0px;
  text-align: start;
  text-indent: 0px;
  transition-delay: 0s, 0s;
  transition-duration: 0.2s, 0.2s;
  transition-property: border, box-shadow;
  transition-timing-function: linear, linear;
  user-select: text;
  vertical-align: middle;
  word-spacing: 0px;
  writing-mode: horizontal-tb;
  -webkit-rtl-ordering: logical;
}

.uxButton {
  background-color: rgb(109, 190, 100);
  background-image: linear-gradient(rgb(109, 190, 100), rgb(109, 190, 100));
  border-bottom-color: rgb(109, 190, 100);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: rgb(109, 190, 100);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgb(109, 190, 100);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgb(109, 190, 100);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top-style: solid;
  border-top-width: 1px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 200;
  height: 30px;
  line-height: 20px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  padding-bottom: 0px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 0px;
  /*text-align: center;
  text-indent: 0px;*/
  vertical-align: middle;
  white-space: pre;
  word-spacing: 0px;
  writing-mode: horizontal-tb;
  -webkit-rtl-ordering: logical;
}

.uxButton:hover {
    color: #fff !important;
}

.uxRowHeader {
  background-color: rgb(109, 190, 100);
  color: rgb(255, 255, 255);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  user-select: none;
}

.uxRowHeader > div {
  height: 43px;
  padding-top: 10px;
  border-bottom-color: rgb(212, 212, 212);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: rgb(212, 212, 212);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgb(212, 212, 212);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgb(212, 212, 212);
  border-top-style: solid;
  border-top-width: 1px;
}

.uxRow {
  background-color: rgb(216, 235, 209);
  border-bottom-color: rgb(212, 212, 212);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  color: rgb(0, 0, 0);
  /*display: block;*/
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  /*height: 30px;*/
  /*line-height: 20px;*/
  text-align: left;
  user-select: none;
}
.uxRowAlt {
  background-color: rgb(236, 246, 232);
}
/* END Items reverse engineered from consumer theme in UX */

.uxLoginButton {
  width: 280px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.uxLinkMenu a {
  cursor: pointer;
}
.uxLinkMenu a:hover {
  text-decoration: none;
}
.uxLinkMenu hr {
  margin: 0 0 0 0;
  border-color: gray;
}

