<!DOCTYPE html>
<html lang="en">

<head>
	<title>CSC UX Insured Portal</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="author" content="CSC">

	<!-- Generic browser tab/window/bookmark icon -->
	<link rel="shortcut icon" href="ux/icons/App_76x76.png">

	<!-- Touch screen bookmark icons -->
	<link rel="apple-touch-icon" sizes="76x76" href="ux/icons/App_76x76.png">
	<link rel="apple-touch-icon" sizes="120x120" href="ux/icons/App_120x120.png">
	<link rel="apple-touch-icon" sizes="152x152" href="ux/icons/App_152x152.png">

	<!-- Splash/launch image  -->
	<link rel="apple-touch-startup-image" sizes="1024x768" href="app/images/splash/ipad-splash-hz.png">
	<link rel="apple-touch-startup-image" sizes="768x1024" href="app/images/splash/ipad-splash-vt.png">

	<!--<link rel="stylesheet" href="lib/angular/ui/ng-grid/ng-grid.css">-->
	<!--<link rel="stylesheet" href="lib/angular/ui/angular-ui.css">
	<link rel="stylesheet" href="lib/angular/ui/angular-carousel.css">-->

	<link rel="stylesheet" href="lib/bootstrap/3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="lib/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="lib/bootstrap-social/5.1.1/bootstrap-social.css">
    <link rel="stylesheet" href="css/consumer.css">
    <!--<link rel="stylesheet" href="css/csctheme.css">
    <link rel="stylesheet" href="css/ux.css">
    <link rel="stylesheet" href="css/theme_1column.css">-->
	<!--<link rel="stylesheet" href="lib/bootstrap/3.3.7/css/bootstrap-responsive.css">-->

	<!--<link rel="stylesheet" href="lib/font-awesome/css/font-awesome.css">-->

	<!--<link rel="stylesheet" href="lib/jquery-ui/1.12.1/jquery-ui.css">-->

	<!--<link rel="stylesheet" href="ux/css/slide.css">
		<link rel="stylesheet" href="ux/css/ux/ux.css">
		<link rel="stylesheet" href="ux/css/ux/ux-phone.css">
		<link rel="stylesheet" href="ux/css/ux/ux-tablet.css">
		<link rel="stylesheet" href="ux/css/ux/ux-desktop.css">
		<link rel="stylesheet" href="ux/css/flaticons/flaticon.css">-->

	<!--<link rel="stylesheet" href="ux/css/banner.css">
		<link rel="stylesheet" href="ux/css/ux/editor.css" />-->
	<script src="lib/angularjs/1.6.1/angular.min.js"></script>
	<script src="lib/angularjs/1.6.1/angular-route.min.js"></script>
</head>

<body ng-controller="insured">
	<div class="container-fluid well">
		<div class="col-md-4">
			<h3 style="cursor: pointer;" ng-click="navigateHome()">
                <img src="images/logo.png" style="height: 40px;" />
			    Insured Access
			</h3>
		</div>
		<div class="col-md-8 text-right" ng-cloak>
			<div ng-if="insuredData.user.name">
                <h4>
                    <img ng-src="{{insuredData.user.thumbnail}}" style="height: 50px;"/>
                    {{insuredData.user.name}}
                    <button class="btn uxButton" ng-click="navigate('associatedPolicies')">My Policies</button>
                    <button class="btn uxButton" ng-click="logout()">Log out</button>
                </h4>
			</div>
		</div>
	</div>

	<div ng-view></div>

	<div id="alerts">
		<div class="alert" ng-repeat="alert in alerts" ng-class="{ 'alert-info': !alert.isError, 'alert-error': alert.isError }">
			<button class="btn" type="button" class="close" data-dismiss="alert">&times;</button> {{alert.text}}
		</div>
	</div>

	<!-- Placed at the end of the document so the pages load faster -->
	<script src="lib/jquery/jquery-3.1.1.min.js"></script>
	<!--<script src="lib/jquery-ui/1.12.1/jquery-ui.js"></script>-->
	<!--<script src="lib/jquery/jquery.validate.js"></script>-->
	<script src="lib/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<!--<script src="lib/angular/ui/sortable.js"></script>
	<script src="lib/angular/ui/angular-ui.js"></script>
	<script src="lib/angular/angular-carousel.js"></script>
	<script src="lib/angular/angular-touch.min.js"></script>-->

	<!--<script src="lib/angular/ui/bootstrap/ui-bootstrap-0.5.0.js"></script>
	<script src="lib/angular/ui/bootstrap/ui-bootstrap-tpls-0.5.0.js"></script>-->
	<!--<script src="lib/angular/ui/ng-grid/ng-grid.js"></script>
		<script src="lib/angular/ui/ng-grid/ng-grid-csv-export.js"></script>
		<script src="lib/angular/ui/ng-grid/ng-grid-flexible-height.js"></script>
		<script src="lib/angular/ui/ng-grid/ng-grid-layout.js"></script>-->

	<!-- hello.js used for external authentication -->
	<script src="lib/hello.js/hello.all.min.js"></script>
	<!-- Base Angular application -->
	<script src="app/app.module.js"></script>
	<script src="app/logins.controller.js"></script>
	<script src="app/findPolicy.controller.js"></script>
	<script src="app/policySummary.controller.js"></script>
	<script src="app/associatedPolicies.controller.js"></script>
	<script src="app/policyBilling.controller.js"></script>
	<script src="app/policyPaperless.controller.js"></script>
	<script src="app/policyDocuments.controller.js"></script>
	<script src="app/directives/policyNavigation.directive.js"></script>
	<script src="app/directives/policyFooter.directive.js"></script>
	<script src="app/directives/uxTooltip.directive.js"></script>
	<script src="app/app.routes.js"></script>
	<!-- Services -->
	<script src="app/policy.service.js"></script>
	<script src="app/user.service.js"></script>
</body>

</html>