<div class="panel panel-default">
    <div class="panel-heading uxPanelHeading">
        My Policy List
        <button class="btn uxButton" ng-click="navigate('findPolicy')">Add a Policy</button>
    </div>

    <div class="panel-body container-fluid">
        <div class="row hidden-xs uxRowHeader">
            <div class="col-md-2">Policy</div>
            <div class="col-md-2">Status</div>
            <div class="col-md-2">Policy Term</div>
            <div class="col-md-4">Your Agent</div>
            <div class="col-md-2">Actions</div>
        </div>
        <div class="row uxRow" ng-repeat="policy in insuredData.policies" ng-class="{ 'uxRowAlt': ($index%2) }">
            <div class="col-md-2">{{policy.KEYSYMBOL}} {{policy.KEYNUMBER}} {{policy.KEYMODULE}}<br/>{{policy.INSUREDNAME}}</div>
            <div class="col-md-2">{{policy.STATUS}}</div>
            <div class="col-md-2">{{policy.EFFECTIVEDATE}} - {{policy.EXPIRATIONDATE}}</div>
            <div class="col-md-4">
                <a target="_blank" ux-tooltip title="Map it" ng-href="{{getAgentMapLink(policy)}}"><i class="fa fa-map-marker" aria-hidden="true"></i> {{policy.AGENTNAME}}</a><br/>
                <i ng-show="policy.AGENTPHONE" class="fa fa-phone" aria-hidden="true"></i> {{policy.AGENTPHONE}}<br/>
                <a ux-tooltip title="Send email" ng-show="policy.AGENTEMAIL" ng-href="mailto:{{policy.AGENTEMAIL}}"><i class="fa fa-envelope" aria-hidden="true"></i> {{policy.AGENTEMAIL}}</a>
            </div>
            <div class="col-md-2 uxLinkMenu">
                <a ng-click="navigate('policySummary', $index)">Summary</a>
                <hr/>
                <a ng-click="navigate('policyBilling', $index)">Billing</a>
                <hr/>
                <a ng-click="navigate('policyDocuments', $index)">Documents</a>
                <hr/>
                <a ng-click="navigate('policyPaperless', $index)">{{ (isPaperless(policy)) ? "Go Paper" : "Go Paperless" }}</a>
                <hr/>
                <a ng-click="removePolicy(policy.policyKey, policy.INSUREDNAME, policy.ZIP)">Remove</a>
            </div>
        </div>

        <div class="row uxRow" ng-show="insuredData.user.id && insuredData.policies.length === 0">
            <div class="col-md-12">No policies have been associated with this account. Click the 'Add a Policy' button to find your policy.</div>
        </div>
    </div>
</div>