<div class="panel panel-default">
    <div class="panel-heading uxPanelHeading">Find Your Policy</div>
    <div class="panel-body">
        <p>Access your policy by confirming all of the following information.</p>

        <div class="container-fluid form-horizontal">
            <div class="form-group">
                <label for="" class="col-sm-2 control-label uxLabel">Policy Number:</label>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-1"><input class="form-control uxControl" type="text" maxlength="3" ng-model="keySymbol"></div>
                        <div class="col-sm-2"><input class="form-control uxControl" type="text" maxlength="7" ng-model="keyNumber"></div>
                        <div class="col-sm-1"><input class="form-control uxControl" type="text" maxlength="7" ng-model="keyModule"></div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="insuredName" class="col-sm-2 control-label uxLabel">Insured Name on Bill:</label>
                <div class="col-sm-10">
                    <input class="form-control uxControl" type="text" maxlength="60" id="insuredName" placeholder="Enter Name exactly as it appears i.e. First, Middle, Last"
                        ng-model="insuredName">
                </div>
            </div>

            <div class="form-group">
                <label for="zip" class="col-sm-2 control-label uxLabel">Billing Postal Code:</label>
                <div class="col-sm-10">
                    <input class="form-control uxControl" type="text" maxlength="10" id="zip" ng-model="zip">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn uxButton" ng-click="findPolicy()" ng-disabled="!keySymbol || !keyNumber || !keyModule || !insuredName || !zip">Find my Policy</button>
                </div>
            </div>
        </div>
    </div>
</div>