<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="jumbotron" style="height: 314px;">
                <h3>Policyholder's Access</h3>
                <p>Sign in now to:</p>
                <ul>
                    <li>View billing details</li>
                    <li>Update your contact information</li>
                    <li>Go paperless</li>
                    <li>View your documents</li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">

            <div class="panel panel-default">
                <div class="panel-heading">Find your policy without logging in</div>
                <div class="panel-body">
                    <a class="btn btn-block btn-social btn-reddit uxLoginButton" ng-click="findPolicy()">
                        <span class="fa fa-search"></span> Find your policy
                    </a>
                    <!--<button class="btn btn-block text-left uxButton uxLoginButton" ng-click="findPolicy()">Find a Policy</button>-->
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Authenticate with an external provider to save your settings</div>
                <div class="panel-body">
                    <a class="btn btn-block btn-social btn-facebook uxLoginButton" ng-click="login('facebook')">
                        <span class="fa fa-facebook"></span> Sign in with Facebook
                    </a>
                    <a class="btn btn-block btn-social btn-google uxLoginButton" ng-click="login('google')">
                        <span class="fa fa-google"></span> Sign in with Google
                    </a>
                    <a class="btn btn-block btn-social btn-microsoft uxLoginButton" ng-click="login('windows')">
                        <span class="fa fa-windows"></span> Sign in with Microsoft
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>