<div class="panel panel-default">
    <div class="panel-heading uxPanelHeading">
        Policy {{policyCurrent.KEYSYMBOL}} {{policyCurrent.KEYNUMBER}} {{policyCurrent.KEYMODULE}}
    </div>
    <div class="panel-heading">
        <policy-navigation paperless="{{isPaperless(policyCurrent)}}" />
    </div>
    <div class="panel-body container-fluid" ng-hide="!billingData">
        <div class="form-group">
            <label class="col-sm-2 control-label uxLabel">Premium</label>
            <div class="col-sm-4">
                <p class="form-control-static">
                    {{billingData.PREMIUM}}
                </p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label uxLabel">Plan Name</label>
            <div class="col-sm-4">
                <p class="form-control-static">
                    {{billingData.PLANNAME}}
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label uxLabel">Last Payment</label>
            <div class="col-sm-4">
                <p class="form-control-static">
                    {{billingData.LASTPAYMENT}}
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label uxLabel">Paid On</label>
            <div class="col-sm-4">
                <p class="form-control-static">
                    {{billingData.PAIDON}}
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label uxLabel">Total to Date</label>
            <div class="col-sm-4">
                <p class="form-control-static">
                    {{billingData.TOTALTODATE}}
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label uxLabel">Balance</label>
            <div class="col-sm-4">
                <p class="form-control-static">
                    {{billingData.BALANCE}}
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label uxLabel">Minimum Due</label>
            <div class="col-sm-4">
                <p class="form-control-static">
                    {{billingData.MINIMUMDUE}}
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label uxLabel">Due By</label>
            <div class="col-sm-4">
                <p class="form-control-static">
                    {{billingData.DUEBY}}
                </p>
            </div>
        </div>
    </div>
</div>

<policy-footer />