<div class="panel panel-default">
    <div class="panel-heading uxPanelHeading">
        Policy {{policyCurrent.KEYSYMBOL}} {{policyCurrent.KEYNUMBER}} {{policyCurrent.KEYMODULE}}
    </div>
    <div class="panel-heading">
        <policy-navigation paperless="{{isPaperless(policyCurrent)}}" />
    </div>
    <div class="panel-body container-fluid">
        <div class="row">
            <div class="col-md-12 checkbox">
                <label>
                    <input type="checkbox" ng-model="confirmation">
                    {{ (isPaperless(policyCurrent)) ? "I prefer to receive paper copies of all my policy documents." : "I prefer to change my delivery method from paper copies to paperless delivery."}}
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" ng-show="policyCurrent && isPaperless(policyCurrent)">
                <p>Your policy and all correspondence will be mailed to you at the address indicated below. If mailing Address
                    is incorrect, please contact your agent with the corrected information.</p>
                <div class="form-group">
                    <label class="col-sm-2 control-label uxLabel">Address 1</label>
                    <div class="col-sm-4">
                        <p class="form-control-static">{{policyCurrent.ADDRESSLINE1}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label uxLabel">Address 2</label>
                    <div class="col-sm-4">
                        <p class="form-control-static">{{policyCurrent.ADDRESSLINE2}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label uxLabel">City</label>
                    <div class="col-sm-4">
                        <p class="form-control-static">{{policyCurrent.CITY}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label uxLabel">State</label>
                    <div class="col-sm-4">
                        <p class="form-control-static">{{policyCurrent.STATE}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label uxLabel">ZIP</label>
                    <div class="col-sm-4">
                        <p class="form-control-static">{{policyCurrent.ZIP}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12" ng-show="policyCurrent && !isPaperless(policyCurrent)">
                <p>Click on Change Delivery Method to agree to Terms and Conditions for paperless delivery method.</p>
                <div class="form-group">
                    <label class="col-sm-2 control-label uxLabel">Current Email</label>
                    <div class="col-sm-4">
                        <p class="form-control-static">
                            {{policyCurrent.EMAIL}}
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label uxLabel" for="newEmail">Update email</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control uxControl" id="newEmail" ng-model="newEmail" value="">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button class="btn" ng-click="togglePaperless()" ng-disabled="!confirmation">{{ (isPaperless(policyCurrent)) ? "Switch to Paper" : "Switch to Email"}}</button>
            </div>
        </div>
    </div>
</div>

<policy-footer />