<div class="panel panel-default">
    <div class="panel-heading uxPanelHeading">
        Policy {{policyCurrent.KEYSYMBOL}} {{policyCurrent.KEYNUMBER}} {{policyCurrent.KEYMODULE}}
    </div>
    <div class="panel-heading">
        <policy-navigation paperless="{{isPaperless(policyCurrent)}}" />
    </div>
    <div class="panel-body container-fluid">
        <div class="row hidden-xs uxRowHeader">
            <div class="col-md-3"><strong>Document Type</strong></div>
            <div class="col-md-3"><strong>Date Produced</strong></div>
            <div class="col-md-3"><strong>Name</strong></div>
            <div class="col-md-3"><strong>Actions</strong></div>            
        </div>
        <div class="row uxRow" ng-repeat="document in documents" ng-class="{ 'uxRowAlt': ($index%2) }">
            <div class="col-md-3">{{document.summary.MMDescription}}</div>
            <div class="col-md-3">{{document.summary.MMDateProd}}</div>
            <div class="col-md-3">{{document.summary.MMName}}</div>
            <div class="col-md-3"><button class="btn uxButton" ng-click="openDocument(document)">View Document</button></div>            
        </div>
    </div>
</div>

<policy-footer />