<div class="panel panel-default">
    <div class="panel-heading uxPanelHeading">
        Policy {{policyCurrent.KEYSYMBOL}} {{policyCurrent.KEYNUMBER}} {{policyCurrent.KEYMODULE}}
    </div>
    <div class="panel-heading">
        <policy-navigation paperless="{{isPaperless(policyCurrent)}}" />
    </div>
    <div class="panel-body container-fluid">
        <div class="row">
            <div class="form-group">
                <label class="col-sm-2 control-label uxLabel">Policy Number</label>
                <div class="col-sm-4">
                    <p class="form-control-static">
                        {{policyCurrent.KEYSYMBOL}} {{policyCurrent.KEYNUMBER}} {{policyCurrent.KEYMODULE}}
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label uxLabel">Insured Name</label>
                <div class="col-sm-4">
                    <p class="form-control-static">
                        {{policyCurrent.INSUREDNAME}}
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label uxLabel">Address 1</label>
                <div class="col-sm-4">
                    <p class="form-control-static">
                        {{policyCurrent.ADDRESSLINE1}}
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label uxLabel">Address 2</label>
                <div class="col-sm-4">
                    <p class="form-control-static">
                        {{policyCurrent.ADDRESSLINE2}}
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label uxLabel">City</label>
                <div class="col-sm-4">
                    <p class="form-control-static">
                        {{policyCurrent.CITY}}
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label uxLabel">State</label>
                <div class="col-sm-4">
                    <p class="form-control-static">
                        {{policyCurrent.STATE}}
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label uxLabel">ZIP</label>
                <div class="col-sm-4">
                    <p class="form-control-static">
                        {{policyCurrent.ZIP}}
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label uxLabel">Email</label>
                <div class="col-sm-4">
                    <p class="form-control-static">
                        {{policyCurrent.EMAIL}}
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label uxLabel">Paperless Option</label>
                <div class="col-sm-4">
                    <p class="form-control-static">
                        {{isPaperless(policyCurrent)}}
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label uxLabel">Policy Term</label>
                <div class="col-sm-4">
                    <p class="form-control-static">
                        {{formatDate(policyCurrent.EFFECTIVEDATE)}} - {{formatDate(policyCurrent.EXPIRATIONDATE)}}
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label uxLabel">Agent Name</label>
                <div class="col-sm-4">
                    <p class="form-control-static">
                        {{policyCurrent.AGENTNAME}}
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label uxLabel">Agent Address</label>
                <div class="col-sm-4">
                    <p class="form-control-static">
                        {{policyCurrent.AGENTADDRESS}}
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label uxLabel">Agent Email</label>
                <div class="col-sm-4">
                    <p class="form-control-static">
                        {{policyCurrent.AGENTEMAIL}}
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label uxLabel">Agent Phone</label>
                <div class="col-sm-4">
                    <p class="form-control-static">
                        {{policyCurrent.AGENTPHONE}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<policy-footer />