<nav class="navbar navbar-default navbar-fixed-bottom">
<div class="container">
  <div class="row">
    <div class="col-md-4">AGENT: <a target="_blank" ux-tooltip title="Map it" ng-href="{{getAgentMapLink(policyCurrent)}}"><i class="fa fa-map-marker" aria-hidden="true"></i> {{policyCurrent.AGENTNAME}}</a></div>
    <div class="col-md-4"><i ng-show="policyCurrent.AGENTPHONE" class="fa fa-phone" aria-hidden="true"></i> {{policyCurrent.AGENTPHONE}}</div>
    <div class="col-md-4"><a ux-tooltip title="Send email" ng-show="policyCurrent.AGENTEMAIL" ng-href="mailto:{{policyCurrent.AGENTEMAIL}}"><i class="fa fa-envelope" aria-hidden="true"></i> {{policyCurrent.AGENTEMAIL}}</a></div>
  </div>
</div>
</nav>